@* p.392 [Add] モデルバインダーの自作 *@
@{
    ViewData["Title"] = "Custom";
}

<form asp-action="Custom">
    @* 本来のモデル名(ここではcurrent)に加えて「.year」「.month」「.day」で「年／月／日」を識別している *@
    @* 自作のモデルバインダー固有のルールで、これでcurrentという名前で1つの日付としてまとめるようにする *@
    <input type="text" name="current.year"  size="4" />年
    <input type="text" name="current.month" size="2" />月
    <input type="text" name="current.day"   size="2" />日
    <input type="submit" value="送信" class="btn btn-primary" />
</form>