@model SelfAspNetCore.Models.Book

@{
    ViewData["Title"] = "CreateViewHelper";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <!-- p.92 [Mod] タグヘルパーの代わりに、ビューヘルパーで書き換えた例 -->
        @using(Html.BeginForm()) {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- モデルに基づいて、ラベル／入力要素を生成 -->
            <div class="form-group">
                @Html.LabelFor(b => b.Isbn, new { @class = "control-label" })
                @Html.TextBoxFor(b => b.Isbn, new { @class = "form-control" })
                <span asp-validation-for="Isbn" class="text-danger"></span>
            </div>
        }

        @* ポスト先のアクションを指定
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* モデルに基づいて、ラベル／入力要素を生成 
            <div class="form-group">
                <label asp-for="Isbn" class="control-label"></label>
                <input asp-for="Isbn" class="form-control" />
                <span asp-validation-for="Isbn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publisher" class="control-label"></label>
                <input asp-for="Publisher" class="form-control" />
                <span asp-validation-for="Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Published" class="control-label"></label>
                <input asp-for="Published" class="form-control" />
                <span asp-validation-for="Published" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Sample" /> @@Html.DisplayNameFor(model => model.Sample)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        *@
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
