<form asp-action="Session">
    <label for="email">メールアドレス：</label>
    <input id="email" name="email" type="text" value="@ViewBag.Email"
        class="form-control" />
    <input type="submit" value="送信" class="btn btn-primary" />
</form>