/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*----------------------------------------------------------------------*/
/* p.189 _Layout.cshtml.cssーーー_Layout.cshtmlにのみ適用されるScoped CSS */
/*----------------------------------------------------------------------*/
a.navbar-brand[b-wjzsj6mbdb] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-wjzsj6mbdb] {
  color: #0077cc;
}

.btn-primary[b-wjzsj6mbdb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-wjzsj6mbdb], .nav-pills .show > .nav-link[b-wjzsj6mbdb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-wjzsj6mbdb] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-wjzsj6mbdb] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-wjzsj6mbdb] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-wjzsj6mbdb] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-wjzsj6mbdb] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

/* Scoped CSSで配下のテンプレートに対してスタイルを適用する */
/* ※「::deep」はScoped CSS固有の疑似セレクター           
::deep h1 {
  color: red;
}
*/