<form asp-action="Custom">
    <input name="current.year" type="text" size="4" />年
    <input name="current.month" type="text" size="2" />月
    <input name="current.day" type="text" size="2" />日
    <input type="submit" value="送信" class="btn btn-primary" />
</form>