<form enctype="multipart/form-data" asp-action="Upload">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="file" name="upFiles" multiple />
    <button type="submit" class="btn btn-primary">アップロード</button>
    <p class="text-success">@ViewBag.Message</p>
</form>