<p><span asp-highlight="#f00">ASP.NET Core</span>はマルチプラットフォームで動作するWebアプリフレームワークです。</p>

@* <p><b span asp-highlight="#f00">ASP.NET Core</b></span>はマルチプラットフォームで動作するWebアプリフレームワークです。</p> *@

@* <p><highlight>ASP.NET Core</highlight>はマルチプラットフォームで動作するWebアプリフレームワークです。</p> *@

@* <p><highlight asp-highlight="#f00">ASP.NET Core</highlight>はマルチプラットフォームで動作するWebアプリフレームワークです。</p> *@