@* p.279 [Add] データをグループ化するGroupByメソッド（LINQメソッド構文） *@
@model IEnumerable<IGrouping<string, Book>>

@{
    ViewData["Title"] = "Group";
}

@foreach(var group in Model)
{
    <dt>@group.Key</dt>
    <dd>
        <Ul>
            @foreach(var b in group)
            {
                <li>@b.Title (@b.Price 円)</li>
            }
        </Ul>
    </dd>
}