@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>WINGSプロジェクト</h4>
<img src="http://www.wings.msn.to/image/wings.jpg" />
<hr />
<div>
@RenderBody()
</div>
URL：<a href="https://wings.msn.to/">https://wings.msn.to/</a>